
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Arimo', Arial,Verdana,sans-serif; padding-bottom: 0; color:#666766;
   margin-bottom: 300px; /* Margin bottom to match footer height */
}

main { margin-top:75px; padding-bottom: 50px;}

.panelNav {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    z-index: 100;
    position: relative;
	padding: 0 10px;
}

.blog-sidebar, .blog-main {margin-top: 40px; margin-bottom: 40px;}
.blog-sidebar {padding-left: 40px; border-right: 1px solid #828384; }
.blog-main-full {max-width: 100%; flex: 100%;}
.blog-post { padding: 0px 0px 0px 40px;}
.sidebar-module {padding-right: 40px;}

a, a:active, a:visited {text-decoration: none!important;}	




.btn-submit, .btn-submit:active, .btn-submit:visited {text-transform: uppercase; background: #191970; padding:7px 20px; color:#fff; font-size: 14px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0px;  border: 1px solid #191970; margin-top: 10px;}
.btn-submit:hover {background: #fff; color:#191970; border: 1px solid #191970;}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

/**************************
VIDEO
**************************/
.video-container video {width:100%;}

/**************************
GENERAL STYLES
**************************/
.container .blog-post blockquote {color:#191970; font-size: 17px; font-weight: 700; padding: 0; }  
.container .blog-post blockquote p {color:#191970; font-size: 17px; font-weight: 700; }  

.container .blog-post a, a:active, a:visited{ text-decoration: none; color:#191970; border:none; border-radius: unset!important; /*text-transform: uppercase; */}
.container .blog-post a:hover{ color: #000; color: #000; text-decoration: none;}

.container .blog-post img { -ms-interpolation-mode: bicubic; border: none; }
.container .blog-post a img { border: none;}

.container .blog-sidebar h2 { color: #191970; font-weight: 600; font-size: 16px; line-height: 110%; padding: 5px 0 5px 0; /*text-transform:uppercase; */ }

.container .blog-post p {font-size: 16px; line-height: 150%; color:#666766;}
.container .blog-post h1 {font-size:35px; color:#191970; font-weight: 700; padding-bottom: 10px;}
.container .blog-post h2 { color: #016aab; font-weight: 700; font-size: 20px; line-height: 110%; padding: 5px 0 5px 0; text-transform:uppercase; }
.container .blog-post h3 { color: #016aab; font-weight: 500; font-size: 20px; line-height: 110%; padding: 15px 0 10px 0; }
.container .blog-post h4 { color: #79bdd3; font-size:18px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700; text-transform:uppercase;}
.container .blog-post h5 { color: #79bdd3; font-weight: 700; font-size: 18px; line-height: 110%; padding: 15px 0 5px 0; }
.container .blog-post hr { border-top: 1px solid #666766;}

.container .blog-post ul { font-size:16px; line-height: 150%; 
	list-style-type: none;
	padding-left: 0;
	margin: 10px 0 10px 10px;}

.container .blog-post li { color:#666766; padding-left: 30px; margin-bottom: 3px;font-size: 16px;}

.container .blog-post ul li::before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: #191970;
    font-size: 11px;
    margin-top: 2px;
	display: inline-block;
	font-weight:900;
	margin-left: 65px;
}

table tr td {vertical-align: top;}

table tr td ul {margin: 0!important; line-height: inherit!important;}

/**************************
NAVBAR
**************************/
.navbar-custom {background-color: #e6e6e6!important; /*height:108px;*/ padding:0.5rem 0.5px 0.5rem 0; -webkit-box-shadow: 0 8px 6px -6px #999; -moz-box-shadow: 0 8px 6px -6px #999; box-shadow: 0 8px 6px -6px #999;  }
.navbar .mr-auto, .navbar .mx-auto {
    margin-left: auto !important;
    margin-right: inherit !important;
    position: relative;
    left: 20px;
	top: 8px;
}
.navbar-collapse {padding-top: 40px;}
.nav-item {padding-left: 40px; padding-right: 40px;}

.custom-toggler {border:none!important; position: absolute; top: 58px; right: 10px;; outline: none!important;}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.dropdown-item {border-top-left-radius:0!important; border-top-right-radius:0!important; border-bottom-left-radius:0!important; border-bottom-right-radius:0!important;}

.nav-link-login {padding-right:5px;}
.nav-link-login-resp {visibility:hidden; display: none; height: 0;}
.nav-link-login-side {padding-left:5px;}

/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0px; position: absolute; left: 40px;}
.navbar-logo img {width:80%;}

.navbar-logo a {padding:0!important;}

.navbar-logo-txt {color:#fff; font-size: 35px;  /*position: relative;*/ left:250px; /*top: 10px;*/ position: absolute; /*top: 20px;*/ top: 0px;
	animation: fadeInDown 1s ease-in both;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.logo-link {position: absolute; z-index: 9999!important;cursor: pointer !important; height: 234px; width:456px; top:0; left:0;}
.logo-link-inner {position: absolute; z-index: 9999!important;cursor: pointer !important; height: 233px; width:278px; top:0; left:0;}

/* Flag Waving */
#canvas {
  /* make the canvas wrapper fits the document */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  height: 234px;
  width:456px;
}

.canvas-inner {
  /* make the canvas wrapper fits the document */ 
  height: 233px!important;
  width:278px!important;
}

.plane {
  /* define the size of your plane */
  width: 100%;
  max-width: 456px;
  height: 234px;
  position: absolute;
  top: 0;
  left:0;
  margin: 0 auto;
}

.plane-inner {
  /* define the size of your plane */  
  max-width: 278px;
  height: 233px;  
}

.plane img {
  /* hide the img element */
  display: block;
}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {/*padding: 30px 10px 0 30px;*/ color: rgba(255,255,255,.9); text-align: right; position: absolute; top:10px; right: 30px;}
.navbar-contacts div {font-size: 15px;}
.navbar-contacts a {color: rgba(255,255,255,.9); text-decoration: none; padding:0px; font-size:24px;}
.navbar-contacts a:hover {color: rgba(255,255,255,1);}

.divMap {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.navbar-contacts-resp {display:none; visibility: hidden; height: 0; color: rgba(255,255,255,.9); text-align: right;}
.navbar-contacts-resp a {color: rgba(255,255,255,.9); text-decoration: none; padding:0px; font-size:24px;}
.navbar-contacts-resp a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - COLLEGE CAPITAL
**************************/
.navbar-college-capital {position: fixed; top: 120px; right: 0; background: rgba(225,225,225,0.2); padding: 5px 40px 5px 15px; width:100%; z-index: 1000; text-align: right; 
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 30%, rgba(225,225,225,1));
}
.navbar-college-capital img {width:160px;}

.nav-item-college-capital {padding-left:50px;}
.nav-item-college-capital a {text-align: right; font-size: 13px;font-weight: 600;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 50px 0 0 0; text-align: center;}
.home-intro h1 {font-size:59px; color:#0069aa; }
.home-intro p {color:#666766; font-size:20px;}

.home-intro-icons img {width:100%;}
.home-intro-icons .col-lg-4 {padding:50px;}

.home-intro-icons {padding:25px 0 50px 0;}

/**************************
HOME PAGE - TEAM PANEL
**************************/
.home-team {background-color: #0069aa; padding: 60px 0;}
.home-team h2 {color:#fff; text-align: center; font-size: 59px; margin-bottom: 15px;}
.home-team h3 {color:#fff; text-align: center; font-size: 20px; margin-bottom: 30px;}
.home-team-img {color:#fff; text-align: center; width:100%; padding: 10px 0 0 0;} 
.home-team-name {color:#fff; text-align: center; font-size: 20px; font-weight: 600; padding: 20px 0 0 0;}
.home-team-title {color:#fff; text-align: center; margin: auto; font-size:20px; max-width:259px;}

.home-team a:hover > div {color:#000!important;}
.home-team a:hover > .home-team-img img {overflow:hidden; 
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */	
}

/**************************
HOME PAGE - PARTNERS
**************************/
.home-partners{
    background-color: #0069aa;
    margin-top: 50px;
    padding-bottom: 40px;
    min-height: 228px;
}

.home-partner-box{
    margin-top: 40px;
    text-align: center;
}

.home-partner-box img{width: 200px; margin-top: 20px;}
.home-partner-box p{color: #fff; font-size: 29px;}

#carouselTeam .carousel-item {margin-right: 0!important;}
#_carouselTeam .carousel-item > img { position:inherit!important; min-width: auto!important; height: auto!important;}
#_carouselTeam .mx-auto {position:inherit; left: inherit; top: inherit;}
#_carouselTeam .carousel-item {background-color: #0069aa; height:auto; margin: auto;}

/* show 3 items */
  #carouselTeam .carousel-inner .active,
  #carouselTeam .carousel-inner .active + .carousel-item,
  #carouselTeam .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  #carouselTeam .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  #carouselTeam .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  #carouselTeam .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  #carouselTeam .carousel-inner .carousel-item-next,
  #carouselTeam .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  #carouselTeam .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  #carouselTeam .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  #carouselTeam .carousel-item-next.carousel-item-left + .carousel-item,
  #carouselTeam .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  #carouselTeam .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  #carouselTeam .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  #carouselTeam .active.carousel-item-right + #carouselTeam .carousel-item-prev.carousel-item-right,
  #carouselTeam .carousel-item-prev.carousel-item-right + #carouselTeam .carousel-item,
  #carouselTeam .carousel-item-prev.carousel-item-right + #carouselTeam .carousel-item + .carousel-item,
  #carouselTeam .carousel-item-prev.carousel-item-right
    + #carouselTeam .carousel-item
    +#carouselTeam .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

#carouselTeam-resp {visibility: hidden; display: none; height: 0;width:80%; margin:auto; padding:20px 0;}
#carouselTeam-resp .carousel-inner  {width:60%; margin:auto;}

/**************************
HOME PAGE - TESTIMONIALS PANEL
**************************/
.home-testimonials {background: url(../../images/site/testimonials-bg.jpg) ;background-repeat: no-repeat; background-size: cover; background-position: center; padding: 100px 0;}
.home-testimonials h2 {color:#fff; text-align: center; font-size: 59px; margin-bottom: 15px;}
.testimonial-desc {color:#fff; font-size:20px; text-align: center;}
.testimonial-person {color:#fff; font-size:20px; text-align: center; font-weight: 600;}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}


/**************************
HOME PAGE - LINKS PANEL
**************************/
.home-links-panel { padding: 40px 0 0px 0; text-align: center; width: 85%; margin: auto;}
.home-links-panel h2 {color: #0069aa; font-size: 59px; font-weight: 500; padding-top: 30px; text-transform: uppercase;}
.home-links-panel p {color: #666766;font-size: 20px;}

.links-carousel, .links-carousel * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.links-carousel { width: 85% !important; margin: 0 auto; padding: 0 0 30px 0; }
.links-carousel img { padding: 8px 10px; margin: 20px; max-height: 75px; }
.links-carousel img:first-child { position: static; z-index: 100;}
.links-carousel .cycle-slide  { width: auto!important; height: auto; }

/**************************
HOME PAGE - INSURANCE PANEL
**************************/
.home-insurance {width: 100%; padding: 0; text-align: left;}
.home-insurance-container {width:100%;  text-align: center; margin:auto;}
.home-insurance-img {padding: 10px 0; text-align: left;}

.home-insurance-a, .home-insurance-a img,.div-img  {color:#727373; overflow:hidden; width:100%; font-size: 22px; font-weight: 500; }
.home-insurance-a:hover .div-img img {color:#0069aa!important;  overflow:hidden;  
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}
.home-insurance-a:hover  {color:#0069aa!important;  overflow:hidden; opacity:0.8;}
.home-insurance-txt {padding: 10px 0;}

.home-insurance-caption {padding: 0 0 20px 0;}
.home-insurance-caption span {color:#0069aa; font-size: 55px; font-weight: 500; display:inline-block;}

.home-insurance-you {font-weight: 3600; display:inline-block;
   /* animation: textbold 5s infinite alternate;*/
   animation: fadeIn 10s infinite alternate;	
}

@keyframes textbold {
    0% {
    font-weight: 300;
    }
    100% {
    font-weight: 600;
    }
}

/**************************
HOME PAGE - QUICK CLAIMS PANEL
**************************/
.home-quick-claims {width: 100%; padding: 60px 0; text-align: left;}
.home-quick-claims-img img {width:100%; padding-top:70px;}
.home-quick-claims form {width:80%; margin:auto; }
.home-quick-claims h2 {color:#0069aa; font-size: 55px; text-align: left; line-height: 1;}
.home-quick-claims h3 {color:#666766; font-size: 14px; text-align: left;}
.home-quick-claims p {color:#666766; font-size: 14px; text-align: left; font-weight:600; }
.home-quick-claims label {display:none; visibility: hidden; height:0;}
.home-quick-claims .rendered-form .form-control {background:#ebebec; border-radius: 7px;font-size: 16px;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module li {padding: 15px 0 0px 0;}
.navsidebar-sub li {padding:5px 0;}

.sidebar-module a {color: #231f20; text-decoration: none; font-weight:600;}
.sidebar-module a:hover {color: #191970;}
.navsidebar .active > a {color: #191970;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}
.navsidebar-sub a {color: #666766; text-decoration: none; font-weight: 300;font-size: 15px;}
.navsidebar-sub a:hover {color: #000;}
.navsidebar-sub .active > a {color: #191970;}

/**************************
ACCORDIAN
**************************/
.panel-title {padding-bottom: 10px!important; border-bottom: 1px solid #D4D4D4; margin-bottom: 20px!important;}
.panel-body {margin-bottom:20px!important;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #99cccc;
    border-radius: 0;
    letter-spacing: 2px;   
    font-weight: 600;
    margin: 0 0px 20px 0px;
}

.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}


/**************************
TEAM MODULE
**************************/
.1team-item {padding: 0 100px 0 15px;}
.team-item .div-img img {max-width: 250px;}
.team-item .div-img-grants {text-align: center; margin: auto;}	
.team-item .div-img-grants img {width:auto; max-width: auto; max-height: 109px;}	
.team-item .team-txt-grants {text-align: center; margin: auto;}	

.1team-item {
    width: 100%;
    /*padding-top: 35% !important;	*/
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    margin: 0 10% 0 0%;
}

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item-img img {width:100%;}

.team-txt {padding: 20px 0 30px 0;}
.team-name-band-name {color:#3f6c9a; font-weight: 600; line-height: 150%; font-size: 16px;}
.team-name-band-position {color:#000; line-height: 150%; font-size: 14px;}
.team-name-band-qualification {color:#000; line-height: 150%; font-size: 12px;}

.team-a, .team-a img,.div-img  {overflow:visible!important; text-align: center; width: 90%; margin:auto;}
.team-a:hover .div-img img {color:#000!important;  overflow:hidden; 
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
	
}
.div-img img {width:90%;}

.team-a:hover  {overflow:hidden; opacity:0.8;}
.team-a:hover .team-name-band-name, .team-a:hover .team-name-band-title {color: #2f67b2!important;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #e6e6e6;
	text-align: center;
}

.footerContainer {background-color: #e6e6e6;}
.footerContainer .panelNav .row {padding-bottom: 30px; border-bottom: 0.5px solid #fff;}
#footer-caption {text-align: right; height: 70%;}
.footer-caption-1 {color:#231f20; font-size:40px;}
.footer-caption-2 {color:#231f20; font-size:40px; font-weight: 600;
    animation: fadeIn 10s infinite alternate;
}

.footer-icons {position: absolute; right: 0;}

#footer-social {color: #231f20;  margin: 0 auto; /*padding: 10px 0;*/ text-align: right; font-size: 15px; float:left; padding-top: 30px;}
#footer-social i {font-size:20px;}
#footer-social a, #footer-txt a:active {color: #231f20; text-decoration: none; font-size: 13px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000; text-decoration: none;}
.footer-social-txt, .footer-social-icon {display: inline-block;}

#footer-logos {text-align: right; float:left; padding-right:100px;}
#footer-logos img {padding: 0 20px;}
#footer-logos img:nth-child(2) {margin-bottom:5px;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; padding: 10px 0; text-align: right; font-size: 15px;}
#footer-txt a, #footer-txt a:active {color: #231f20; text-decoration: none; font-size: 15px; line-height: 120%; padding: 0 7px;}
#footer-txt a:hover{ color: #000; text-decoration: none;}

.footerContainer {padding: 45px 0;}

.affilated {padding-top: 5px;}
.affilated a {font-weight:700; font-size: 16px; font-size: 17px !important;}

.footer-abn {color:#ebebec; text-align: right; font-size:13px;}

@keyframes fadeIn { 
  from { opacity: 0.1; } 
}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 14px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #0069aa!important; text-decoration: none; text-transform: uppercase;}	
.btn-back a:hover {font-weight: 600;}
.btn-back a i {font-weight:600;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
ACCORDION
**************************/

.juiAccordion .ui-accordion-header-icon{
    display: none;
}

.juiAccordion .ui-accordion-header:focus{
    box-shadow: none !important;
    outline: none !important;
}

.juiAccordion .ui-accordion-header{
    background-color: #fff !important;
    border: none !important;
    border-bottom: 1px solid #D4D4D4 !important;
    box-shadow: none !important;

    font-size:18px !important;
    line-height: 110% !important;
    font-weight: 700 !important;
    text-transform:uppercase !important;
    font: 100%/1.4 'Arimo', Arial,Verdana,sans-serif;
}

.juiAccordion .ui-accordion-content{
    border:none !important;
    padding-left: 0;
    padding-bottom: 0 !important;
    font: 100%/1.4 'Arimo', Arial,Verdana,sans-serif;
}

/**************************
EXTRAS
**************************/
.rendered-form .form-control {border-radius: 0px!important;}
.contact-details {padding-top:15px;}

.slide-img-resp {visibility: hidden; display: none; height:0;}
.slide-img {visibility: visible; display: block; height:auto;}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 480px) {
	.navbar-logo-txt {display: none; visibility: hidden; height:0;}
	.custom-toggler {top: 30px;}
	.home-insurance-caption span {font-size:25px;}
	.home-quick-claims h2 {font-size:30px;}
	.footer-caption-1, .footer-caption-2  {display:block; width:100%; font-size:25px;}
	.container .blog-post h1 {font-size: 25px;}
	.container .blog-post ul li::before {margin-left: 20px;}
	.navbar-contacts {/*right:0!important;*/}
	.custom-toggler {right:0;}
	
	.navbar-college-capital {top:110px;padding-right: 15px; width:100%; text-align: center;}
	.navbar-college-capital img {/*height:60px;*/ width:auto;}
	
	.navbar-contacts-resp {right:15px!important;}
	.navbar-logo { left: 15px!important;}
	.carousel-caption, .carousel-indicators {visibility: hidden; display: none; height: 0;}
	
	.home-intro {padding-top: 20px;}
	.home-intro h1 {font-size:32px;}
	.home-intro p {font-size:18px;}
	.home-intro-icons .col-6 {padding:25px;}	
	
	.home-team {padding:20px 0;}
	.home-team h2 {font-size:32px;}
	.home-team h3 {font-size:18px;}
	
	.home-testimonials {padding:20px 0;}
	.home-testimonials h2 {font-size:32px;}
	.testimonial-desc, .testimonial-person {font-size:18px;}
	
	.home-links-panel {padding:20px 0;}
	.home-links-panel h2 {font-size:32px; padding-top: 0;}
	.home-links-panel p {font-size:18px;}
	.links-carousel {padding:0;}
	
	.footer-caption-1, .footer-caption-2 {font-size:20px;}
	#footer-logos img {padding: 0 20px; width: 30%;}
    #footer-social { padding: 80px 0 0px 0;}
	
	#carouselTeam-resp {width:100%;}
	.home-team-name, .home-team-title {font-size:16px;}
	
	.team-img {width:80%; margin:auto;}
	
	.home-intro-icons img {width:100%!important; height:auto!important}
	
	.video-container video {display: none; visibility: hidden;}
}

@media only screen and  (max-width: 991px) {
	main { height:100%; /*margin-top: 80px;*/ margin-top: 40px!important; padding-bottom: 0px;}
	.container {margin-top:0;}
	.container .row {width: 100%; padding: 0px; }
	
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; /*padding: 0 15px 10px 15px!important;*/ margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main { width: 100%; /*padding: 20px 10px 10px 10px!important;*/ margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; /*margin-top: 20px;*/}
	
	.blog-masthead .container {width:100%; max-width: 100%; margin-bottom:0;}
	.blog-masthead {padding:0;}
	.blog-sidebar {border:none;}
	.blog-post {padding: 20px 0;}
	.blog-post img {width:100%; padding: 20px 0;}

	.navbar-logo {top:10px; left:20px;}
	.navbar-logo img {width:60%; height: auto;}
	.navbar-contacts {visibility: hidden; display:none; height: 0;}
	.navbar-contacts-resp { visibility: visible; display: block; height: auto; position: absolute; width: 100%; top: 7px; right: 25px; padding-top: 0;}
	.navbar-logo-txt {position: absolute; width: 100%; top:50px!important; left:auto; text-align: center;}

	.navbar-collapse {padding-top:0; background: #fff;}
	.navbar { padding: 0px 0;}
	.mr-auto, .mx-auto {left:0!important; top: 0px!important;}
	.nav-item {padding: 0; text-align: center;background:rgba(255,255,255,0.90); }
	.nav-item a {color:#191970!important;}
	.nav-item a:hover {color:#fff!important; font-weight: 500!important; font-size: 18px!important;}
	.nav-item:hover {background-color:#191970!important;}		
	.navbar-custom {padding-top: 90px;}
    .custom-toggler {top: 30px;}

    .broker-login-icon{ display: none}

	.div-img {width:80%; margin:auto;}

    .slide-img {visibility: hidden; display: none; height:0;}
    .slide-img-resp {visibility: visible; display: block; height:auto;}
	
	#contact-form {margin-top: 20px;}
	#footer-caption {text-align: center; padding-top: 30px; padding-bottom: 30px;}
	#footer-social {text-align: center;}
	#footer-txt {text-align: center;}
	.footer-abn {text-align: center;}
	
	.logo-link-resp {position: absolute; z-index: 9999!important;cursor: pointer !important; height: 116px; width:228px; top:0; left:0;}	
    .logo-link-inner-resp {position: absolute; z-index: 9999!important;cursor: pointer !important; height: 116px; width:140px; top:0; left:0;}

	#logo-img {height: 116px!important; width:228px}
	.logo-img-inner {height: 116px!important; width:140px!important}
	
	.canvas-resp { 
	  height: 116px!important;
  	  width:228px!important;
	}
	
	.plane-resp {	  
	  max-width: 228px;
	  height: 116px;
	}
	
	.canvas-inner-resp {  
        height: 116px!important;
        width:140px!important;
	}
	
	.plane-inner-resp {  
	  max-width: 140px;
	  height: 116px;  
	}
	
	.navbar-college-capital {top:110px;padding-right: 15px; background: rgba(225,225,225,0.7); }
		
	.nav-item-college-capital {padding-right: 0;}
	.nav-item-college-capital a {text-align: center; padding-right: 0;}
	.nav-item-college-capital a:hover {font-size: 13px!important;}
	
	.home-quick-claims-img {text-align:center; margin:auto;}
	.home-quick-claims-img img {width: 80%; padding-top:0px;}
	
	.panelNav {padding:0 20px;}
	.home-links-panel {width:100%!important;}
	.links-carousel {width:100%!important;}
	.links-carousel img {width:70%; margin:0; padding:0;}
	
	.footerContainer { padding: 45px 0 0 0;}
	.footer-icons {position: inherit;}
	#footer-caption {width:100%; height:auto; padding: 40px 0 20px 0;}
	.footer-caption-1, .footer-caption-2 {display: inline-block; width:auto;}
	#footer-logos {width:100%; float: none; text-align: center; padding: 20px 0;}
	#footer-social {width:100%; float: none; text-align: center; padding: 120px 0 0px 0;}
	.footer-social-txt {width:100%; padding-bottom: 20px;}
	.footer-social-icon {width:100%;}
	
	.footerContainer .panelNav {padding: 0 10px; overflow: hidden;}
	#footer-txt {font-size:10px;}
	#footer-txt a, #footer-txt a:active {font-size:10px; padding: 0 4px;}
	
	#carouselTeam {visibility: hidden; display: none; height: 0;}
	#carouselTeam-resp {visibility: visible; display: block; height: auto;}
	
	.nav-link-login {visibility:hidden; display: none; height: 0;}
    .nav-link-login-resp {visibility:visible; display: inline-block; height: auto;}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
	.footer-caption-1, .footer-caption-2 {font-size:30px;}
	.navbar-contacts {right:10px!important;}
	.custom-toggler {right:10px!important;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	.navbar-logo-txt {left:150px;}
	.navbar-contacts {top:5px!important;}
	
	.logo-link-resp {position: absolute; z-index: 9999!important;cursor: pointer !important; height: 116px; width:228px; top:0; left:0;}	
    .logo-link-inner-resp {position: absolute; z-index: 9999!important;cursor: pointer !important; height: 116px; width:140px; top:0; left:0;}

	#logo-img {height: 116px!important; width:228px}
	.logo-img-inner {height: 116px!important; width:140px!important}
	
	.canvas-resp { 
	  height: 116px!important;
  	  width:228px!important;
	}
	
	.plane-resp {	  
	  max-width: 228px;
	  height: 116px;
	}
	
	.canvas-inner-resp {  
        height: 116px!important;
        width:140px!important;
	}
	
	.plane-inner-resp {  
	  max-width: 140px;
	  height: 116px;  
	}
	
	.nav-item { /*padding-left: 20px; padding-right: 20px;*/}
	.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {margin: 0 20px;}	
	.navbar .mr-auto, .navbar .mx-auto {left:0;}
	.navbar-contacts {right:25px;}
	.navbar-logo {left:15px; top: 10px;}
	.navbar-logo img {width:60%;}
	.nav-item a {font-size:16px;}
	
	.nav-item {padding-left: 15px; padding-right: 15px;}
	.nav-item-college-capital { padding-left: 40px;padding-right: 40px;}
	
	.panelNav {padding: 0 40px;}
	.testimonial-desc p, .testimonial-person {font-size:20px;}
	#footer-caption {height:100px;}
	.sidebar-module {padding-right: 10px;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1650px) {	
	.navbar-logo-txt {position: absolute; top: 0px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1500px) {	
	main {margin-top: 70px;}
	.nav-item { /*padding-left: 20px; padding-right: 20px;*/}
	.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {margin: 0 20px;}	
	.navbar .mr-auto, .navbar .mx-auto {left:0;}
	.navbar-contacts {right:25px;}
	.navbar-logo {left:15px; top: 10px;}
	.navbar-logo img {width:60%;}
	.nav-item a {font-size:16px;}
	
	.nav-item {padding-left: 15px; padding-right: 15px;}
	.nav-item-college-capital { padding-left: 40px;padding-right: 40px;}
	.testimonial-desc p, .testimonial-person {font-size:20px;}	
}

@media only screen and (min-device-width: 769px) and (max-width: 1200px) {	
	.navbar-contacts {position: absolute; width: 100%; /*top: 0px;*/ right: 15px; padding-top: 0;}
	.footer-caption-1, .footer-caption-2 {font-size: 30px;}
	.nav-item-college-capital  {padding-right:15px;}
}