
html, body{
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
}

body{
	font-family: Arimo;
	background-color: #88d3e1;
}

.heading{
	font-weight: bolder;
	font-size: 32px;
	color: #fff;
}

.text{
	font-size: 18px;
	color: #515251;
}

.text a{
	color: #fff;
}

.text a:hover{
	text-decoration: none;
	color: #bd202d;
}

.sm-icon{
	font-size: 32px !important;
	color: #fff;
	margin-left: 15px;
	vertical-align: middle;
}

.sm-icon:hover{
	color: #bd202d;
}

.input-group{
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-control{
	border:none;
	border-radius: 0px;
}

.input-group-btn .btn-default{
	border-color: #bd202d;
	border-radius: 0px;
	background-color: #bd202d;
	color: #fff;
	outline: none;
}

.input-group-btn .btn-default:active
{
  background-color: #ffffff;
  color: #bd202d;
  border-color: #fff;
  outline: none;
}

.egg{
	width: 90%;
	margin-top: 75px;
}

.logo{
	margin-top: 20px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
}